<h1>新規投稿</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@portfolio) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :イメージ画像, class: "requiredform"%>
      <%= f.file_field :image%>

      <%= f.label :作品名, class: "requiredform" %>
      <%= f.text_field :name%>

      <%= f.label :作成期間 %>
      <%= f.text_field :period %>

      <%= f.label :対象 %>
      <%= f.text_field :target %>

      <%= f.label :問題 %>
      <%= f.text_field :issue %>

      <%= f.label :解決方法 %>
      <%= f.text_area :way %>

      <%= f.label :コンテンツ詳細, class: "requiredform" %>
      <%= f.text_area :content%>

      <div class="form-group">
        <%= f.select :status, Portfolio.statuses.keys.map { |k| [t("enums.portfolio.status.#{k}"),k]}, {} %>
      </div>
      <%= f.submit '投稿する', class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
